.mains{
    width: 768px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}
header{
    height: 112px;
}
#heading{
    width: 153px;
    height: 50px;  
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}
.formbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 1296px;
    width: 768px;
    background-image: url('images/annie-spratt-427340-unsplash.png');

}
.title{
    font: normal normal normal 44px/46px Flood Std;
    color: #FFFFFF;
    width: 512px;
    height: 104px;
    text-align: center;
}

form{
    width: 640px;
    height: 1016px;
    background-color: #354463;
}
.form{
    display: flex;
    margin: 58px 64px 70px 65px;
    height: 888px;
    width: 512px;
    flex-direction: column;
}
.form1{
    margin-top: 0px;
    display: grid;
    grid-template-rows: 28px 62px 62px 65px 62px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:63px ;
    grid-row-gap: 29px;
}
.form2{
    display: grid;
    grid-template-rows: 28px 65px 65px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:63px ;
    grid-row-gap: 24px;
    margin: 35px 0px 50px 0px;
}

.info{
    font: normal normal bold 28px/36px Helvetica;
    color: #FFFFFF;
    grid-column: 1/span 2;
}
#addr, #email, #card{
    width: 99%;
    height: 47px;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #c2c6cf;
    background-color: #354463;
    border: #354463;
    border-bottom: 4px solid #C1F7D5;
}
.field{
    font: normal normal normal 14px/17px Helvetica;
    color: #FFFFFF;
}

#fname, #lname, #city, #street, #code, #expiry{
    width: 98%;
    height: 48px;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #c2c6cf;
    background-color: #354463;
    border: #354463;
    border-bottom: 4px solid #C1F7D5;
}
.state-zip{
    display: flex;
    width: 225px; 
    justify-content: space-between; 
}
.state, .zip{
    width: 96px;
}
.address{
    grid-column: 1/ span 2 ;
}
#state, #zip{
    width: 90%;
    height: 48px;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #c2c6cf;
    background-color: #354463;
    border: #354463;
    border-bottom: 4px solid #C1F7D5;
}

.card-num{
    grid-column: 1/span 2;
}
#card{
    width: 90%;
}
#expiry{
    width: 35%;
    margin-right: 30px;
}
.cvc{
    width: 122px;
    margin-right: 105px;
}
.expiry{
    width: 270px;
}
#code{
    width: 75%;
}
#confirm{
    height: 75px;
    text-align: start;
}
.payment{
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
    background-color: #C1F7D5;
    width: 256px;
    height: 56px;
    border-radius: 100px;
    border: 1px solid #C1F7D5;
    position: relative;
    top: 55px;
    left: 255px;
}
.back{
    width: 60px;
    height: 16px;
    text-align: start;
    position: relative;
    color: #C1F7D5;
    font: normal normal 300px 16px/56px Helvetica;
}
.footer{
    display: grid;
    width: 768px;
    height: 427px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 217px 146px 181px;
    grid-column-gap: 100px;
}
.box{
       margin: 60px 0px 0px 0px;
}
.follow, .more{
    text-decoration: underline;
}
#box1{
    grid-row: 1 / span 2;
    margin: 60px 0px 0px 72px;
}
#box4{
    margin-top:30px ;
}
div.box5{
    font: normal normal normal 44px/46px "Flood Std";
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    height: 136px;
    width: 181px;
    margin-top: 35px;
    position: relative;
    right: -1px;
}
